body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#typed-text {
    height: 300px; 
    overflow-y: auto; 
    white-space: pre-wrap;
    font-family: "Remachine Script", sans-serif;
}

header h1 {
    font-family: 'Arvo', serif;
    text-align: center;
    color: #ff4d4d;
}


main {
    padding: 20px;
    border-radius: 10px;
    font-family: 'Arvo', serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 50px 80px; 
    margin: 0 10px; 
    font-size: 40px; 
    border: none; 
    border-radius: 25px;
    cursor: pointer;
    background-color: darkseagreen;
}

.button-container {
    text-align: center; 
    margin-top: 10px;
    display: none;

}

#yes-button {
    background-color: #4caf50; 
    color: white; 
}

#no-button {
    background-color: #f44336; 
    color: white;
}

p {
    line-height: 1.6;
    color: #333;
    text-align: center;
}

p:first-of-type {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.heart {
    position: fixed;
    color: red; 
    font-size: 36px;
    animation: heart-animation 2s ease-out;
}

@keyframes heart-explosion {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.small-heart {
    position: fixed;
    color: red; 
    font-size: 12px; 
    animation: heart-explosion 0.5s ease-out;
}